# Initial Exploratory Data Analysis: NYCHA Residents

## Import libraries

In [1]:
import pandas as pd
import numpy as np

## Import and load data

In [2]:
nycha_res_raw = pd.read_csv('../../data/00_raw/NYCHA_Resident_Data_Book_Summary.csv')

In [3]:
nycha_res = nycha_res_raw.copy()

## Inspect data frame

In [4]:
nycha_res.shape

(33, 43)

In [5]:
nycha_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 43 columns):
PROGRAM                                                         33 non-null object
STATECITY_SECTION8_FLAG                                         33 non-null object
Total Families                                                  33 non-null int64
Total Female Headed Families                                    33 non-null int64
Total Male Headed Families                                      33 non-null int64
Total Population                                                33 non-null int64
Average Family Size                                             33 non-null float64
Total Minors Under 18                                           33 non-null int64
Average Minors per Family                                       33 non-null float64
Total Minors as Percent of Population                           33 non-null float64
All Average Total Gross Income                                  33 non-null object
All Average Gross Rent                                          33 non-null object
Total HOH 62 Years and Over                                     33 non-null int64
Total HOH 62 Years and Over as Percent of Families              33 non-null float64
Total Female Headed HOH 62 Years and Over                       33 non-null int64
Total Male Headed HOH 62 Years and Over                         33 non-null int64
Total Elderly Single Person Families                            33 non-null int64
Total Elderly Population                                        33 non-null int64
Total 62 Years and Over as Percent of Population                33 non-null float64
Total Families on Welfare                                       33 non-null int64
Total Families on Welfare and HOH Elderly                       33 non-null int64
Total Families on Full Welfare                                  33 non-null int64
Total Families on Welfare as Percent of Families                33 non-null float64
Total Single Parent/Grandparent Families with Minors            33 non-null int64
Total Female Headed Single Parent/Grandparent with Minors       33 non-null int64
Total Male Headed Single Parent/Grandparent with Minors         33 non-null int64
Total Single Parent/Grandparent Families on Welfare             33 non-null int64
Total Single Parent/Grandparent with Minors as % of Families    33 non-null float64
Total Families - 1 or More Employed                             33 non-null int64
Total Families - 1 or More Employed as Percent of Families      33 non-null float64
Total Families - 2nd Adult Employed                             33 non-null int64
All Families Average Years in Public Housing                    33 non-null float64
Residents Under 4                                               33 non-null int64
Residents 4 to 5                                                33 non-null int64
Residents 6 to 9                                                33 non-null int64
Residents 10 to 13                                              33 non-null int64
Residents 14 to 17                                              33 non-null int64
Residents 18 to 20                                              33 non-null int64
Residents 21 to 49                                              33 non-null int64
Residents 50 to 61                                              33 non-null int64
Residents 62 Plus                                               33 non-null int64
Total Fixed Income Families                                     33 non-null int64
Total Fixed Income Families as Percent of Families              33 non-null float64
dtypes: float64(10), int64(29), object(4)
memory usage: 11.2+ KB

In [6]:
nycha_res[['PROGRAM', 'STATECITY_SECTION8_FLAG']]

                          PROGRAM          STATECITY_SECTION8_FLAG
0                         FEDERAL                 TOTAL HOUSEHOLDS
1           FORMER NEW YORK STATE                 TOTAL HOUSEHOLDS
2           FORMER NEW YORK STATE        PUBLIC HOUSING HOUSEHOLDS
3           FORMER NEW YORK STATE  SECTION 8 TRANSITION HOUSEHOLDS
4            FORMER NEW YORK CITY                 TOTAL HOUSEHOLDS
5            FORMER NEW YORK CITY        PUBLIC HOUSING HOUSEHOLDS
6            FORMER NEW YORK CITY  SECTION 8 TRANSITION HOUSEHOLDS
7   MIXED FINANCE (LLC1 AND LLC2)                 TOTAL HOUSEHOLDS
8   MIXED FINANCE (LLC1 AND LLC2)        PUBLIC HOUSING HOUSEHOLDS
9   MIXED FINANCE (LLC1 AND LLC2)  SECTION 8 TRANSITION HOUSEHOLDS
10             MIXED FINANCE/LLC1                 TOTAL HOUSEHOLDS
11             MIXED FINANCE/LLC1        PUBLIC HOUSING HOUSEHOLDS
12             MIXED FINANCE/LLC1  SECTION 8 TRANSITION HOUSEHOLDS
13             MIXED FINANCE/LLC2                 TOTAL HOUSEHOLDS
14             MIXED FINANCE/LLC2        PUBLIC HOUSING HOUSEHOLDS
15             MIXED FINANCE/LLC2  SECTION 8 TRANSITION HOUSEHOLDS
16                           NGO1                 TOTAL HOUSEHOLDS
17                   ALL PROGRAMS                 TOTAL HOUSEHOLDS
18                   ALL PROGRAMS        PUBLIC HOUSING HOUSEHOLDS
19                   ALL PROGRAMS             SECTION 8 HOUSEHOLDS
20                          BRONX                 TOTAL HOUSEHOLDS
21                          BRONX        PUBLIC HOUSING HOUSEHOLDS
22                          BRONX             SECTION 8 HOUSEHOLDS
23                       BROOKLYN                 TOTAL HOUSEHOLDS
24                       BROOKLYN        PUBLIC HOUSING HOUSEHOLDS
25                       BROOKLYN             SECTION 8 HOUSEHOLDS
26                      MANHATTAN                 TOTAL HOUSEHOLDS
27                      MANHATTAN        PUBLIC HOUSING HOUSEHOLDS
28                      MANHATTAN             SECTION 8 HOUSEHOLDS
29                         QUEENS                 TOTAL HOUSEHOLDS
30                  STATEN ISLAND                 TOTAL HOUSEHOLDS
31                  STATEN ISLAND        PUBLIC HOUSING HOUSEHOLDS
32                  STATEN ISLAND             SECTION 8 HOUSEHOLDS

## Data cleaning

Convert all names of features to lower case:

In [7]:
nycha_res.columns = map(str.lower, nycha_res.columns)
nycha_res['program'] = nycha_res['program'].str.lower()
nycha_res['statecity_section8_flag'] = nycha_res['statecity_section8_flag'].str.lower()

Check for missing value:

In [8]:
nycha_res.isnull().sum()[nycha_res.isnull().sum() > 0]

Series([], dtype: int64)

Select data by neighborhood:

In [9]:
nycha_res = nycha_res.iloc[20:]

## Data preprocessing

### Feature generation

Combine features into a new feature:

In [10]:
nycha_res['total residents of working age'] = nycha_res['residents 18 to 20'] + nycha_res['residents 21 to 49'] + nycha_res['residents 50 to 61']

Rename features:

In [13]:
nycha_res = nycha_res.rename(columns={'program':'borough','statecity_section8_flag':'nycha_household_type'})

### Investigating multicollinearity

In [11]:
from rfpimp import feature_corr_matrix, plot_corr_heatmap

In [15]:
res_df = nycha_res[nycha_res['nycha_household_type'].str.match('total households')].drop(columns=['borough','nycha_household_type'])

Separate data frame into two by type of information:

In [ ]:
# nycha_res_nb_dem = nycha_res_nb[['program','statecity_section8_flag',
#                                  'all families average years in public housing','total families','total population',
#                                  'average family size',
#                                  'total minors under 18','total residents of working age','residents 62 plus',
#                                  'total families - 1 or more employed','total families - 2nd adult employed']]
# nycha_res_nb_dem = nycha_res_nb_dem.rename(columns={'program':'borough','statecity_section8_flag':'nycha_household_type'}).set_index(['borough', 'nycha_household_type'])

In [ ]:
# nycha_res_nb_fin = nycha_res_nb[['program','statecity_section8_flag',
#                                  'all average total gross income','all average gross rent',
#                                 'total families on welfare','total families on full welfare',
#                                  'total families on welfare as percent of families',
#                                 'total single parent/grandparent families on welfare',
#                                 'total single parent/grandparent with minors as % of families',
#                                 'total fixed income families','total fixed income families as percent of families']]
# nycha_res_nb_fin = nycha_res_nb_fin.rename(columns={'program':'borough','statecity_section8_flag':'nycha_household_type'}).set_index(['borough', 'nycha_household_type'])

## Data visualization

In [ ]:
# import matplotlib.pyplot as plt
# from pandas.api.types import CategoricalDtype
# from plotnine import *
# %matplotlib inline

In [ ]:
# employed = nycha_res_nb_dem[['total families - 1 or more employed']]
# # employed.columns = employed.columns.get_level_values(0)
# # employed = employed.reset_index()
# # employed.columns = ['borough', 'public housing households',
# #                    'section 8 households','total households']
# # for col in ['public housing households', 'section 8 households', 'total households']:
# #     employed[col] = employed[col].astype('Int64')

In [ ]:
# employed_pivot = employed.reset_index().pivot(index='borough',
#                                               columns='nycha_household_type',
#                                               values='total families - 1 or more employed')
# employed_pivot.plot.barh(stacked=False,
#                          figsize=(16,10),
#                          fontsize=20,
#                          title='Total Families with 1 or More Employed by Borough').set(xlabel='Total Families with 1 or More Employed',
#                                                                                         ylabel='Borough')

In [ ]:
# employed_pivot.plot.barh(subplots=True,
#                          figsize=(16,10),
#                          fontsize=20)